#
# Postfacto, a free, open-source and self-hosted retro tool aimed at helping
# remote teams.
#
# Copyright (C) 2016 - Present Pivotal Software, Inc.
#
# This program is free software: you can redistribute it and/or modify
#
# it under the terms of the GNU Affero General Public License as
#
# published by the Free Software Foundation, either version 3 of the
#
# License, or (at your option) any later version.
#
#
#
# This program is distributed in the hope that it will be useful,
#
# but WITHOUT ANY WARRANTY; without even the implied warranty of
#
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#
# GNU Affero General Public License for more details.
#
#
#
# You should have received a copy of the GNU Affero General Public License
#
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
name: E2E Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ruby-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.10'
        bundler-cache: true
        working-directory: api
    - run: bundle install
      working-directory: e2e
    - run: bundle exec rake db:create db:migrate
      working-directory: api
      env:
        RAILS_ENV: test
    - run: bundle exec rake
      working-directory: api
      env:
        RAILS_ENV: test

  node-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '18.20.5'
        cache: 'npm'
        cache-dependency-path: web/package-lock.json
    - run: npm ci --legacy-peer-deps
      working-directory: web
    - run: npm ci
      working-directory: mock-google-server
    - run: npm run lint
      working-directory: web
    - run: npm test
      working-directory: web
      env:
        CI: true

  e2e-test:
    runs-on: ubuntu-latest
    needs:
    - ruby-test
    - node-test
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.10'
        bundler-cache: true
        working-directory: api
    - run: bundle install
      working-directory: e2e
    - uses: actions/setup-node@v4
      with:
        node-version: '18.20.5'
        cache: 'npm'
        cache-dependency-path: web/package-lock.json
    - run: npm ci --legacy-peer-deps
      working-directory: web
    - run: npm ci
      working-directory: mock-google-server
    - run: ./e2e.sh
